body {
  background-color: white;
  color: white;
  text-align: center;
}

.background {
  margin-top: 2rem;
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 2rem;
}

.input-bar {
  padding: 3rem;
  background-color: #aa3939;
  border-radius: 0.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.input-bar input {
  width: 20rem;
  padding: 0.4rem;
  background-color: white;
  color: black;
  border: none;
  opacity: 0.8;
  /* box-shadow: 0 0 5px 0 black; */
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-bar input:hover {
  cursor: text;
}

.input-bar button {
  width: 5rem;
  padding: 1rem;
  border: none;
  background-color: red;
  color: white;
}

.input-bar button:hover {
  cursor: pointer;
}

.input-list {
  margin-top: 5rem;
}

.input-list div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  border-bottom: 0.5px dotted black;
}

.new-div-description {
  margin-left: 0.5rem;
}

.fr-buttons {
  font-size: 1.3rem;
  text-align: center;
  border: none;
  margin: 0.5rem;
}

.finish-button {
  background-color: lightblue;
  padding: 1rem;
}

.remove-button {
  background-color: #f94444;
  padding: 1rem;
}

@media (max-width: 700px) {
  .input-bar input {
    width: 12rem;
  }
}

@media (max-width: 450px) {
  .input-bar {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .input-bar input {
    width: 12rem;
  }

  .input-bar button {
    padding: 0.5rem;
  }
}
